@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


@theme {
  --color-primary: #111827;
  --color-secondary: #25452B;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

.glass-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.gradient-text {
  background: linear-gradient(90deg, #6366f1 0%, #a855f7 50%, #ec4899 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}